/*one film*/
.film {
    display: flex;
    margin: 1rem auto;
}

/*overwrite from Card-film.css*/
.pic {
    flex: 30%;
}

.txt {
    flex: 70%;
    height: 100%;
}

/*responsive*/
@media screen and (max-width: 808px) {
    .film {
        flex-direction: column;
        justify-content: center;
    }
}

/*list of comments*/
.comment {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

.comment a {
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem auto;
    background-color: var(--green);
    color: white;
    text-align: center;
    border-radius: 8px;
    border: none;
    appearance: none;
}